In [ ]:
# Add the Pandas dependency.
import pandas as pd
import os

In [ ]:
# Files to load  school_data_to_load = "Resources/schools_complete.csv"


student_data_to_load = "Resources/students_complete.csv"
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
 
    
    student_data_df.head(5)

In [ ]:
# Read the school data file and store it in a Pandas DataFrame.

school_data_df = pd.read_csv(school_data_to_load)
school_data_df

In [ ]:
# Cleaning Student Names and Replacing Substrings in a Python String

prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [ ]:
# Replace the 9th grade reading and math scores at Thomas High School with NaN

# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [ ]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.

In [ ]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.

In [ ]:
#  Step 4. Check the student data for NaN's.